
<div class="modal-menu " data-menu>
  <div class="mobil-menu-container">
   <div class="logo">
    <div class="modal-logo"></div>
    <svg class="logo-icon" width="16" height="16">
      <use href="../img/icons.svg#icon-logo"></use>
    </svg>
    <span class="logo-text">VEGGIEBOOST</span>
   
   <button type="button" class="menu-button js-close-menu">
      <svg class="icon-modal-menu" width="24" height="24">
        <use href="../img/icons.svg#icon-x-1"></use>
      </svg>
    </button> 
    
  </div>
  </div>
 <div class="modal-menu-link"> 
    <nav class="modal-menu-list">
      <ul class="list-nav-modal list">
<li class="link-contact">
  <a class="link-modal" href="#how-it-works">How It Works</a>
</li>
<li class="link-contact">
  <a class="link-modal" href="#vegetables">Vegetables</a>
</li>
<li class="link-contact">
  <a class="link-modal" href="#contacts">Contacts</a>
</li>
</ul>
<a href="../index.html">
<button type="button" class="shopping-link" data-modal-open>

<svg class="icon-basket" width="20" height="20">
  <use href="../img/icons.svg#icon-shopping-cart-1"></use>
</svg>

</button>
</a>
    </nav>
 
  </div>
</div>

