<div id="menu" class="modal-menu js-menu-container">
  <div class="mobil-menu-container">
    <div class="logo">
      <div class="modal-logo"></div>
      <svg class="logo-icon" width="16" height="16">
        <use href="./img/icons.svg#icon-logo"></use>
      </svg>
      <span class="logo-text">VEGGIEBOOST</span>

      <button type="button" class="menu-button js-close-menu">
        <svg class="icon-modal-menu" width="24" height="24">
          <use href="./img/icons.svg#icon-close-button"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="modal-menu-link">
    <nav class="modal-menu-list">
      <ul class="list-nav-modal list">
        <li class="link-contact">
          <a class="link-modal" href="#How-It-Works">How It Works</a>
        </li>
        <li class="link-contact">
          <a class="link-modal" href="#Vegetables">Vegetables</a>
        </li>
        <li class="link-contact">
          <a class="link-modal" href="#Contact">Contacts</a>
        </li>
      </ul>
      <button
        id="menu-toggle"
        type="button"
        class="shopping-link"
        data-modal-open-menu
      >
        <svg class="icon-basket" width="20" height="20">
          <use href="./img/icons.svg#icon-shopping-cart"></use>
        </svg>
      </button>
    </nav>
  </div>
</div>
