

<div class="button-open-modal">
<button type="button" class="button-header data-menu-open"
aria-expanded="false"
aria-controls="mobile-menu">
 <svg class="mobil-menu-open-icon" width="20" height="14">
   <use href="../img/icons.svg#icon-burger-1"></use>
 </svg>
</button>
</div>
<div class="modal-menu js-menu-container " id="mobile-menu">
  <div class="mobil-menu-container">
   <div class="logo">
    <svg class="logo-icon" width="16" height="16">
      <use href="../img/icons.svg#icon-logo"></use>
    </svg>
    <span class="logo-text">Veggieboost</span>
  
    <button type="button" class="menu-button js-close-menu">
      <svg class="icon-modal-menu" width="24" height="24">
        <use href="../img/icons.svg#icon-close-button"></use>
      </svg>
    </button>
  </div>
  <div class="modal-menu">
    <nav class="modal-menu-list">
      <ul class="list-nav-modal list">
<li>
  <a class="link-modal" href="#how-it-works">How It Works</a>
</li>
<li>
  <a class="link-modal" href="#vegetables">Vegetables</a>
</li>
<li>
  <a class="link-modal" href="#contacts">Contacts</a>
</li>
</ul>
<svg class="icon-basket" width="20" height="20">
  <use href="../img/icons.svg#icon-shopping-cart"></use>
</svg>

    </nav>
  </div>
</div>
</div>