@media screen and (max-width: 767px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .modal-menu {
    top: 0;
    max-width: 767px;
    position: fixed;
    z-index: 50;
    width: 100%;
    height: 100%;
    background-color: #a1c487;

    justify-content: space-between;
    overflow: auto;
    transition: transform var(--transition);
    transform: translateX(100%);
  }

  .modal-menu.is-open {
    transform: translateX(0);
  }

  .menu-button {
    position: absolute;
    right: 20px;
    border: none;
    padding: 0;
    background-color: transparent;
  }
  .logo-text {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    color: var(--title-color);
  }
  .logo-icon {
    position: relative;
    top: 3px;
    fill: var(--green-color);
    margin-right: 8px;
    margin-left: 20px;
  }
  .icon-modal-menu {
    border: none;
    stroke: var(--green-color);
  }

  .mobil-menu-container {
    background-color: #ffffff;
  }
  .modal-menu-link {
    text-align: center;
  }
  .list-nav-modal {
    margin-top: 124px;
  }
  .link-contact {
    margin-bottom: 16px;
    color: #ffffff;
  }
  .icon-basket {
    fill: transparent;
    stroke: #ffffff;
  }

  .shopping-link {
    border: none;
    padding: 0;
    background-color: transparent;
  }
  .link-modal {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 768px) {
  .modal-menu {
    display: none;
  }
}
